.trail { /* className for the trail elements */
    position: absolute;
    height: 16px; width: 16px;
    border-radius: 3px;
    background: teal;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    text-align: center;
  }
  
  body {
    height: 300px;
  }
  
  .inner-content {
  }